/* START GLOBAL RULES */
:root {
    --main-color: #0d40c6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* END GLOBAL RULES */