/* START GLOBAL RULES */
:root {
    --main-color: #0d40c6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", sans-serif;
    color: #7b8da7;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 800px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 1000px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1250px;
    }
}

/* END GLOBAL RULES */


/* START SIDEBAR */


.container .sidebar {
    background-color: var(--main-color);
    padding: 50px 10px 0 10px;
}

.container .sidebar i {
    display: block;
    color: white;
    margin: 30px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}



.container .sidebar i:hover,
.container .sidebar i.active {
    background-color: #1153f9;
    cursor: pointer;
}

/* END SIDEBAR */

/* START MAIN CONTENT */
.container .main-content {
    flex-grow: 1;
}

/* START HEADER */
.container .main-content .header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.container .main-content .header .logo {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
}

.container .main-content .header .header-nav {
    display: flex;
    align-items: center;
}



.container .main-content .header .header-nav .sold {
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #f1f1f1;
    padding: 5px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container .main-content .header .header-nav .sold span:first-child {
    padding: 5px 10px 5px 15px;
    background-color: #1746d51f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: var(--main-color);
}

.container .main-content .header .header-nav .sold span:first-child i {
    margin: 0 8px;
}

.container .main-content .header .header-nav .sold span:last-child {
    padding: 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container .main-content .header-nav .profil-menu {
    margin-left: 20px;
}

.container .main-content .header-nav .profil-menu label {
    margin: 0 7px 0 10px;
}

@media (max-width: 767px) {
    .container .main-content .header {
        padding: 15px 8px 15px 8px;
    }

    .container .main-content .header .logo {
        font-size: 16px;
    }

    .container .main-content .header .header-nav {
        flex-direction: column;
    }

    .container .main-content .header .header-nav .sold {
        font-size: 11px;
        margin-bottom: 10px;
    }

    .container .main-content .header-nav .profil-menu label {
        margin: 0 0 0 4px;
    }

}

.container .main-content .header .header-nav .profil-menu i {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 13px;
}

/* END HEADER */

/* START EXCHANGE SECTION */
.exchange-section {
    display: flex;
    justify-content: space-around;
    padding: 15px 30px;
}

.main-content h5 {
    font-weight: 500;
    padding: 15px 30px;
}

.main-content h5 span {
    color: var(--main-color);
}

.exchange-section .operations {
    flex-basis: 40%;
    position: relative;
}

.exchange-section .operations::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccccccbb;
    left: 0;
    bottom: -14px;
}

@media (max-width: 767px) {
    .exchange-section {
        flex-direction: column;
    }

    .exchange-section .operations {
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) {
    .exchange-section .operations:after {
        display: none;
    }
}

.exchange-section .operations .operations-links {
    text-align: center;
    margin: 20px 0 30px 0;
}

.exchange-section .operations .operations-links a {
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 0;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 500;
    margin: 0 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}



.exchange-section .operations .operations-links a.active,
.exchange-section .operations .operations-links a:hover {
    background-color: #1652f0;
    color: white;
}

.exchange-section .operations form {
    margin: 20px 0;
}

.exchange-section .operations form label {
    display: block;
    font-size: 13px;
    font-weight: 600;
}

.exchange-section .operations form .box {
    background-color: #d9e1f77f;
    margin: 10px 0 20px 0;
}

.exchange-section .operations form .box select,
.exchange-section .operations form .box input {
    border: none;
    padding: 10px 0 10px 10px;
    outline: none;
    color: #5a6779;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    width: 50%;
    background-color: transparent;
}

.exchange-section .operations form .box span {
    padding: 10px 0 10px 10px;
    color: #5a6779;
    font-size: 13px;
    font-weight: 500;
}

.exchange-section .operations form .monthly-limit {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 30px;
}

.exchange-section .operations form .monthly-limit span:first-child {
    font-weight: 500;
}

.exchange-section .operations form .monthly-limit span:last-child {
    color: black;
}

.exchange-section .operations form input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    color: white;
    border: none;
    background-color: #10d876;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.exchange-section .operations form input[type="submit"]:hover {
    background-color: #0da35b;
}

.exchange-section .operations p {
    font-size: 13px;
    margin-top: 32px;
}

.exchange-section .resume {
    flex-basis: 50%;
}

.exchange-section .resume .exchangers {
    display: flex;
    justify-content: space-between;
}

.exchange-section .resume .exchangers .user {
    display: flex;
}

.exchange-section .resume .exchangers .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.exchange-section .resume .exchangers .user .text {
    font-size: 11px;
    color: black;
    font-weight: 500;
}

.exchange-section .resume .exchangers .user .text p {
    margin-bottom: 5px;
}

.exchange-section .resume .exchangers .user .text p:last-of-type {
    color: var(--main-color);
}

.exchange-section .resume form {
    margin: 34px 0;
}

.exchange-section .resume form .box {
    background-color: #d9e1f75f;
    margin-bottom: 13px;
    display: flex;
}

.exchange-section .resume form .box input {
    border: none;
    padding: 15px 0 15px 15px;
    outline: none;
    color: #5a6779;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 40%;
    background-color: transparent;
}

.exchange-section .resume form .box span {
    padding: 10px 0 10px 10px;
    color: #5a6779;
    font-size: 12px;
    font-weight: 500;
}

.exchange-section .resume form .box:first-child input,
.exchange-section .resume form .box:first-child span {
    color: blue;
}

.exchange-section .resume form .box:nth-child(6) span {
    color: red;
}


/* END EXCHANGE SECTION */
/* END MAIN CONTENT */